{{/*
Copyright (c) 2024, 2025, Oracle and/or its affiliates.
Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
*/}}

{{- $privAuthNSecret := include "obaas.database.privAuthN.secretName" . }}
{{- $dbAuthNSecret := include "obaas.database.authN.secretName" . }}
{{- if and $privAuthNSecret $dbAuthNSecret }}
---
# Database Initialization Scripts ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "obaas-app.fullname" . }}-db-init
  labels:
    app.kubernetes.io/component: database
    {{- include "obaas-app.labels" . | nindent 4 }}
data:
  init.sh: |
    sql /nolog <<- EOF
    WHENEVER SQLERROR EXIT 1
    WHENEVER OSERROR EXIT 1
    connect $PRIV_USERNAME/$PRIV_PASSWORD@$PRIV_SERVICE
    DECLARE
      l_conn_user VARCHAR2(255);
      l_user      VARCHAR2(255);
      l_tblspace  VARCHAR2(255);
    BEGIN
      BEGIN
          SELECT user INTO l_conn_user FROM DUAL;
          SELECT username INTO l_user FROM DBA_USERS WHERE USERNAME='$DB_USERNAME';
      EXCEPTION WHEN no_data_found THEN
          EXECUTE IMMEDIATE 'CREATE USER "$DB_USERNAME" IDENTIFIED BY "$DB_PASSWORD"';
      END;
      SELECT default_tablespace INTO l_tblspace FROM dba_users WHERE username = '$DB_USERNAME';
      EXECUTE IMMEDIATE 'ALTER USER "$DB_USERNAME" QUOTA UNLIMITED ON ' || l_tblspace;
      EXECUTE IMMEDIATE 'GRANT DB_DEVELOPER_ROLE TO "$DB_USERNAME"';
      EXECUTE IMMEDIATE 'GRANT EXECUTE ON DBMS_CLOUD_AI TO "$DB_USERNAME"';
      EXECUTE IMMEDIATE 'GRANT EXECUTE ON DBMS_CLOUD_PIPELINE TO "$DB_USERNAME"';
      {{- if .Values.database.aq }}
      {{- if .Values.database.aq.enabled }}
      -- Advanced Queuing (AQ) permissions for messaging
      EXECUTE IMMEDIATE 'GRANT EXECUTE ON DBMS_AQ TO "$DB_USERNAME"';
      EXECUTE IMMEDIATE 'GRANT EXECUTE ON DBMS_AQADM TO "$DB_USERNAME"';
      EXECUTE IMMEDIATE 'GRANT EXECUTE ON DBMS_AQIN TO "$DB_USERNAME"';
      EXECUTE IMMEDIATE 'GRANT EXECUTE ON DBMS_AQJMS TO "$DB_USERNAME"';
      EXECUTE IMMEDIATE 'GRANT EXECUTE ON DBMS_AQJMS_INTERNAL TO "$DB_USERNAME"';
      {{- end }}
      {{- end }}
      EXECUTE IMMEDIATE 'ALTER USER "$DB_USERNAME" DEFAULT ROLE ALL';
    END;
    /
    EOF
{{- end }}
