spring:
  application:
    name: chatbot
  ai:
    ollama:
      base-url: http://ollama.ollama.svc.cluster.local:11434
      chat:
        enabled: true
        options:
          model: llama3
  cloud:
    config:
      import-check:
        enabled: false
  config:
    import: classpath:common.yaml