{{/*
Copyright (c) 2024, 2025, Oracle and/or its affiliates.
Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
*/}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "obaas-app.fullname" . }}
  labels:
    {{- include "obaas-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "obaas-app.selectorLabels" . | nindent 4 }}
