## Copyright (c) 2024, 2026, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
{{- if .Values.signoz.enabled }}
{{- if not .Values.signoz.auth.existingSecret }}
{{- $secretName := "signoz-authn" }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $password := "" }}
{{- if $existingSecret }}
  {{- $password = index $existingSecret.data "password" | b64dec }}
{{- else }}
  {{- $password = include "obaas.randomPassword" . | trim }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: observability
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
type: Opaque
data:
  email: {{ .Values.signoz.auth.email | b64enc | quote }}
  password: {{ $password | b64enc | quote }}
{{- end }}
{{- end }}
