###### Requirements without Version Specifiers ######`
Flask_restful               # req for app.py
gunicorn                    # req for config.py
cx_Oracle                   # req for app.py, consumer.py
simplejson                  # req for app.py, consumer.py
oci                         # req for vaultsecret.py 