<?xml version="1.0" encoding="UTF-8" ?>
<!--


##
## Copyright (c) 2021 Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/


-->
<configuration>
	<variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %level %logger{36} - %msg%n%rEx</pattern>
		</encoder>
		<target>System.err</target>
	</appender>

	<!-- Reset JUL -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<logger name="oracle.ucp" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="io.helidon" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.helidon" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>
